<app-main></app-main>
<div>
  <app-modal-dialog-component modalId="myModal">
    <div head> </div>
    <div body> 
      <div class="container">
        <h2>Tabs</h2>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="home" data-toggle="tab" href="#homeText">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="about" data-toggle="tab" href="#aboutText">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact" data-toggle="tab" href="#contactText">Contact</a>
          </li>
        </ul>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div id="homeText" class="container tab-pane"><br>
            <h3>HOME</h3>
          </div>
          <div id="aboutText" class="container tab-pane"><br>
            <h3>About</h3>
          </div>
          <div id="contactText" class="container tab-pane"><br>
            <h3>Contact</h3>
          </div>
        </div>
      </div>
    </div>
    <div footer>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </app-modal-dialog-component>
</div>

<div class="container">
    <h2>Tabs</h2>
    <br>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="showSelectTab('home')">Home</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="showSelectTab('about')">About</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="showSelectTab('contact')">Contact</button>
</div>
<hr>
