/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */

ul {
    list-style: none;
    display: inline-block;
    padding: 5px;
    overflow: auto;
  }
  
  ul > li {
    padding: 8px;
  }
  
  .item-selected {
    background: green;
    color: white;
  }